#menu {
  left: 0px;

  opacity: 0%;
  transition: all ease 0.3s;
}

#menu.expanded {
  opacity: 100%;
}

.dx {
  opacity: 0%;
  transition: all ease 0.3s;
}

.dx.expanded {
  opacity: 100%;
}

.dx1 {
  opacity: 100%;
  transition: all ease 0.5s;
}

.dx1.expanded {
  opacity: 0%;
}
